@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /**background: rgb(24, 23, 28); */
  /**font-family:"Open Sans", sans-serif !important;*/
  
  background: linear-gradient(-45deg, #002e4d, #111);
  background-size: 200% 200%;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  line-height: 24px;
  padding: 0;
}

header {
  /**align-items: center;
  display: flex;
  justify-content: space-between;
  transition: width .5s ease-in-out;
  width: 100%;

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    min-height: 0;
    text-transform: uppercase;
    color: #ffffff;

    span {
      color: #ff004f;
    }
  } */

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px 10px 20px;
  transition: width .5s ease-in-out;
  width: 100%;

  .settingss-active {
    width: calc(100vw - 300px);
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    min-height: 0;
    text-transform: uppercase;

    span {
      color: #ff004f;
    }
  }

}

.chat {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    min-height: 65vh;
    padding: 35px 10px 10px;
    position: relative;
    width: 100%;


    .logo {
        background: #111;
        border: 1px solid #ffffff1a;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: inset 0 -3px 5px #0003;
        left: 30px;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        z-index: 950;

        h1 {
            font-size: 20px;
            color: #ff004f;
            text-shadow: 0 0 5px #ff004f;
        }
    }
}

.chat .inner {
    align-items: stretch;
    background: #00000080;
    border-radius: 10px;
    display: flex;
    flex: 1 1;
    justify-content: stretch;
}

