.container-username {
    /**border: 2px solid #00ff00; */
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
    /**background-color: #1a1a1a; */
    background-color: #ffffff1a;

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
        color: #00ff004a;
    }

    input[type="text"] {
        background-color: #000;
        color: #00ff005a;
        border: 2px solid #00ff004a;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        margin-top: 20px;
        background-color: #000;
        color: #00ff006a;
        border: 2px solid#00ff003a;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        border-radius: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    button:hover {
        background-color: #00ff006a;
        color: #000;
    }
}
